#main {
    text-align: center;
    padding: 20px;
    font-family:Tahoma;
}

.text-principal {
    font-size: 60px;
    color: black;
}


.poza-bubu {
    width: 100%;           
    max-width: 600px;      
    height: auto;          
    border: 3px solid green;
    border-radius: 12px;
    box-shadow: 0 4px 8px black; 
    display: flex;
    flex-wrap: wrap;       
    content: center;
    gap: 15px;    
    margin-left: 32%;
    margin-bottom: 2%;
}

#cuvant-colorat {
    color: green; 
    font-weight: bold; 
}

